{% extends 'main.html' %}
{% block content %}
<style>
    .container-login{
        margin: 25px;
    }
</style>
<div class="container-login">
    <div class="login-form">
      <h2 class="login-name">About Us</h2>
      <hr>
      <p>Welcome to our E-commerce Website Demo Application!</p>
      <br>
      <p>Our platform is a comprehensive showcase of a modern e-commerce web application, built using Django, one of the most powerful web frameworks available. This demo serves as an educational tool, illustrating the key functionalities and features required for a full-fledged e-commerce website.</p>
      <hr>
      <h4><strong>Key Features</strong></h4>
      <br>
      <ul>
        <li><strong>User Authentication and Authorization: </strong>Our application ensures secure access through robust login and logout functionalities, protected routes, and a comprehensive password management system including password change and reset features.</li>
        <li><strong>Product Management: </strong>Experience seamless product management with our Create, Read, Update, and Delete (CRUD) functionalities. This feature allows for efficient handling of the product catalog.</li>
        <li><strong>Shopping Cart: </strong>Users can easily add, remove, and update items in their shopping cart. This dynamic feature ensures a smooth shopping experience.</li>
        <li><strong>Checkout Process: </strong>The application includes a complete checkout process, guiding users from the cart to the final purchase.</li>
        <li><strong>Email Notifications, Pagination, and Search: </strong>Our application supports sending emails for notifications, confirmations, and other communications. It also features pagination for efficient data browsing and a powerful search bar to quickly find products or information within the website.</li>
      </ul>

      <hr>
      <h4><strong>Why Choose Our Demo?</strong></h4>
      <br>
      <p>
        This project was developed with a focus on providing a hands-on learning experience for anyone interested in understanding the intricacies of building an e-commerce platform. Whether you're a student, developer, or just someone curious about web development, this demo offers a practical glimpse into the various components that make up a professional e-commerce site.
      </p>

      <hr>
      <h4><strong>Technologies Used</strong></h4>
      <ul>
        <li><strong>Backend: </strong>Django (Python)</li>
        <li><strong>Frontend: </strong>HTML, CSS, JavaScript</li>
        <li><strong>Database: </strong>SQLite (for demonstration purposes)</li>
      </ul>
      <hr>
      <h4><strong>Our Mission</strong></h4>
      <br>
      <p>Our mission is to deliver a detailed and practical example of an e-commerce application that can be used for educational purposes. By exploring our demo, users can gain valuable insights into the development process, best practices, and the technical requirements of e-commerce platforms.</p>

      <hr>
      <h4><strong>Get In Touch</strong></h4>
      <br>
      <p>If you have any questions, feedback, or suggestions, feel free to reach out to us. We're always eager to hear from fellow learners and developers.</p>
      <br>
      <br>
      <hr>
      <br>
      <p>
        Thank you for visiting our demo application. We hope you find it informative and inspiring!
      </p>
      <br>
      <hr>
    </div>
</div>
{% endblock content %}