{% extends 'main.html' %}
{% block content %}
<style>
    .container-login{
        margin: 25px;
    }
</style>
<div class="container-login">
    <div class="login-form">
      <h2 class="login-name">Contact Us</h2>
      <hr>
      <p>
        We value your feedback and inquiries. Please feel free to reach out to us via email. We'll respond to your message as soon as possible.
      </p>
      <br>
      <p><strong>Email</strong>: <a href="mailto:contact@ecommerce-demo.com">teamsandboxshopping@gmail.com</a></p>
      <br>
      <p>If you have any questions, feedback, or suggestions, don’t hesitate to get in touch. We look forward to hearing from you!</p>
      <br>
      <hr>
      <br>
    </div>
</div>
{% endblock content %}